.root {
    -fx-background-color: linear-gradient(to bottom right, #ffffff 0%, #f0faff 50%, #f3e5f5 100%);
}

.title-text {
    -fx-font-family: "Segoe UI", "Verdana", sans-serif;
    -fx-font-size: 60px;
    -fx-font-weight: 800; 
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.btn {
    -fx-background-radius: 40; 
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-pref-width: 240;
    -fx-pref-height: 65;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-graphic-text-gap: 15; 
}


.btn-offline {
    -fx-background-color: linear-gradient(to right, #6a85b6 0%, #bac8e0 100%); 
    -fx-background-color: linear-gradient(to right, #4facfe 0%, #a18cd1 100%); 
    -fx-effect: dropshadow(three-pass-box, rgba(79, 172, 254, 0.4), 20, 0.0, 0, 8);
}

.btn-offline:hover {
    -fx-background-color: linear-gradient(to right, #4facfe 20%, #b721ff 100%);
}


.btn-online {
    -fx-background-color: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -fx-effect: dropshadow(three-pass-box, rgba(67, 233, 123, 0.4), 20, 0.0, 0, 8);
}

.btn-online:hover {
    -fx-background-color: linear-gradient(to right, #38f9d7 0%, #43e97b 100%);
}

.footer-text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #888888;
    -fx-padding: 20 0 0 0;
}