.root {
    -fx-background-color: #f3e9ff;
}

.header {
    -fx-background-color: #6b8cff;
}

.accept-btn {
    -fx-background-color: #b388ff;
    -fx-text-fill: white;
}

.reject-btn {
    -fx-border-color: #b388ff;
    -fx-text-fill: #b388ff;
    -fx-background-color: transparent;
}
