.root {
    -fx-background-color: #f5f7fb;
    -fx-font-family: "Segoe UI";
}

/* TOP BAR */
.top-bar {
    -fx-padding: 15;
    -fx-background-color: #5d9cec;
}

.top-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.profile-btn {
    -fx-background-radius: 50;
}

/* SCORE */
.score-box {
    -fx-background-color: white;
    -fx-padding: 10 40;
    -fx-background-radius: 10;
}

.score-x {
    -fx-text-fill: #7b5cff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.score-o {
    -fx-text-fill: #3db39e;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* TURN */
.turn-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* BOARD CELLS */
.cell {
    -fx-pref-width: 90;
    -fx-pref-height: 90;
    -fx-font-size: 36;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #999;
    -fx-background-color: white;
}

.cell-x {
    -fx-text-fill: #7b5cff;
}

.cell-o {
    -fx-text-fill: #3db39e;
}

/* ACTION BUTTONS */
.exit-btn {
    -fx-background-color: #5d9cec;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-pref-width: 120;
}

.replay-btn {
    -fx-background-color: #7fe0c3;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-pref-width: 120;
}
